.FileTree ul {
  margin: 0;
  padding: 0;
}

.FileTree * {
  cursor: default;
}

.FileTree li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.FileTree li li {
  position: relative;
  padding: 0;
  margin-left: 40px;
}
.FileTree li li:before {
  content: '';
  left: -28px;
  top: 15px;
  width: 16px;
  position: absolute;
  border-width: 0 0 1px 0px;
  border-style: solid;
  border-color: #CFD8DC;
}

.FileTree li:after {
  content: '';
  left: -28px;
  top: 15px;
  width: 16px;
  height: calc(100% + 10px);
  position: absolute;
  border-width: 0 0 0px 1px;
  border-style: solid;
  border-color: #CFD8DC;
}

.FileTree li:first-child:after {
  top: -5px;
  height: calc(100% + 30px);
}

.FileTree li:last-child:after {
  border-width: 0;
}

.FileTree .FileName {
  top: 5px;
}

.FileTree .Container div:nth-child(2) {
  color: #aaaaaf;
  font-size: 14px;
}